/** THIS PAGE IS FOR STYLING LAYOUTS ON PAGES WITH GRID. **/

/* 2 GRID CONTAINERS SO FAR TO USE */
/* 
- gridContainer for all pages
    -- has a header, main, & footer
- gridGallery (for recipes on homePage and savedRecipes pages) <-- STILL NEEDS CREATED
    -- .containerName {
            align-content: stretch; <-- change if needed
        }
*/

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}
.main {
    grid-area: main;
}

.categoryBar {
    grid-area: category;
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
}

.gridContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header"
        /* "main main . sidebar" */
        "main main main main"
        "footer footer footer footer";
    /* grid-template-rows: [row1-start] auto [row1-end] 100px [third-line] auto [last-line]; */
}

/* .gridContainer {
    grid-template-columns: [first] 10% [line2] 20% [line3] auto [col4-start] 1fr [five] 1fr [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}

.gridItem {

}

.gridItem img {

}

.gridItem h2 {

}

.gridItem p {

} */

/* Responsive adjustments */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust column size for smaller screens */
    }
}
