/** THIS PAGE IS FOR STYLING LAYOUTS ON PAGES WITH GRID. **/

/* 2 GRID CONTAINERS SO FAR TO USE */
/* 
- gridContainer for all pages
    -- has a header, main, & footer
- gridGallery (for recipes on homePage and savedRecipes pages) <-- STILL NEEDS CREATED
    -- .containerName {
            align-content: stretch; <-- change if needed
        }
*/

/* Center the .formGridContainer within the main .gridContainer */
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Divide the container into four equal columns */
    grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    grid-template-rows: auto auto auto; /* Three rows for header, main, and footer */
}

.formGridContainer {
    display: grid;
    grid-column-start: 2; /* Start from the second column line */
    grid-column-end: 4; /* End at the fourth column line, thus spanning 2nd and 3rd columns */
    justify-self: center; /* Center the form within the grid area it occupies */
    align-items: center; /* Center vertically */
    height: 100%; /* Take up the entire height of the main .gridContainer */
    grid-area: main; /* Place the form container in the "main" grid area */
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}
.main {
    grid-area: main;
}

.categoryBar {
    grid-area: category;
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust column size for smaller screens */
    }
}