.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f53d3d;
}

.logo {
    font-size: 1.5em;
    color: #333;
}

.navBar {
    display: flex;
}

.navLink {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

.navLink:hover {
    color: #536170;
}